
@model List<NewProductsViewModel>
<section class="new-product-area section-padding30">
    <div class="container">
        <!-- Section tittle -->
        <div class="row">
            <div class="col-xl-12">
                <div class="section-tittle mb-70">
                    <h2>New Arrivals</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @if(Model.Any())
            {
                @foreach (var product in Model)
                {
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-new-pro mb-30 text-center">
                            <div class="product-img">
                                <img src="@product.Picture" alt="">
                            </div>
                            <div class="product-caption">
                                <h3><a href="product_details.html">@product.Name</a></h3>
                                <span>$ @product.Price</span>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>