<h2 class="text-center">Admin Panel</h2>
<!-- As a link -->

<ul class=" list-group text-center list-group-flush">
    <li class="list-group-item"> <a class="navbar-brand text-danger" asp-controller="Admin" asp-action="Products">Məhsullar</a></li>
    <li class="list-group-item"><a class="navbar-brand text-danger" asp-controller="Admin" asp-action="Categories">Kateqoriyalar</a></li>
    <li class="list-group-item"><a class="navbar-brand text-danger" asp-controller="Admin" asp-action="Customers">Müştərilər</a></li>
    <li class="list-group-item"><a class="navbar-brand text-danger" asp-controller="Admin" asp-action="Discounts">Endirim kodları</a></li>
</ul>
<!-- As a heading -->
