<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Time Zone</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link rel="manifest" href="site.webmanifest">*@
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.ico">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/assets/css/slick.css">
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WatchStoreApp.UI.styles.css" asp-append-version="true" />*@
</head>
<body>
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper">
                        <!-- Logo -->
                        <div class="logo">
                            <a asp-action="Index" asp-controller="Home"><img src="~/assets/img/logo/logo.png" alt=""></a>
                        </div>
                        <!-- Main-menu -->
                        <div class="main-menu d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a asp-action="Index" asp-controller="Home">Əsas səhifə</a></li>
                                    <li><a asp-action="Index" asp-controller="Products">Məhsullar</a></li>
                                    <li><a asp-action="About" asp-controller="Home">Haqqımızda</a></li>
                                    <li class="hot">
                                        <a href="#">Ən yeniler</a>
                                        <ul class="submenu">
                                            <li><a asp-action="Index" asp-controller="Products">Məhsullar</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Keçidlər</a>
                                        <ul class="submenu">
                                            <li><a asp-action="Signin" asp-controller="Auth">Hesaba giriş</a></li>
                                            <li><a asp-action="Index" asp-controller="Basket">Səbət</a></li>
                                        </ul>
                                    </li>
                                    <li><a asp-action="Contact" asp-controller="Home" >Bizimlə əlaqə</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Header Right -->
                        <div class="header-right">
                            <nav>
                            <ul id="navigation">
                                <li>
                                    <div class="nav-search search-switch">
                                        <span class="flaticon-search"></span>
                                    </div>
                                </li>
                                <li>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <a asp-action="Profile" asp-controller="User"><span class="flaticon-user"></span></a>
                                            <a asp-action="Logout" asp-controller="Auth"><i class="fa-solid fa-right-from-bracket logout" style=""></i></a>
                                    }
                                    else
                                    {
                                        <a asp-action="SignIn" asp-controller="Auth" ><span class="flaticon-user"></span></a>
                                    }
                                </li>
                                <li><a asp-action="Index" asp-controller="Basket"><span class="flaticon-shopping-cart"></span></a> </li>
                            </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    
    <div >

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="index.html"><img src="~/assets/img/logo/logo2_footer.png" alt=""></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>Asorem ipsum adipolor sdit amet, consectetur adipisicing elitcf sed do eiusmod tem.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Linklər</h4>
                                <ul>
                                    <li><a asp-action="About" asp-controller="Home">Haqqımızda</a></li>
                                    <li><a href="#"> Təkliflər və endirimlər</a></li>
                                    <li><a href="#"> Endirim kuponları</a></li>
                                    <li><a href="#"> Bizimlə əlaqə</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Yeni məhsullar</h4>
                                <ul>
                                    <li><a href="#">Qadın saatları</a></li>
                                    <li><a href="#">Qadın aksesuarları</a></li>
                                    <li><a href="#"> Kişi aksesuarları</a></li>
                                    <li><a href="#">Uşaq aksesuarları</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Dəstək</h4>
                                <ul>
                                    <li><a href="#">Tez-tez verilən suallar</a></li>
                                    <li><a href="#">Şərtlər və qaydalar</a></li>
                                    <li><a href="#">Gizlilik</a></li>
                                    <li><a href="#">Ödəniş problemi</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer bottom -->
                <div class="row align-items-center">
                    <div class="col-xl-7 col-lg-8 col-md-7">
                        <div class="footer-copy-right">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Məmmədov Nadir</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-5">
                        <div class="footer-copy-right f-right">
                            <!-- social -->
                            <div class="footer-social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
   @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - WatchStoreApp.UI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
